
{% extends "admin/admin_home.twig" %}

{% block contents %}      
     {% if auth.check %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4">
    <!-- Start Breadcrump -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='{{ base_url() }}/admin/dashboard'>Αρχική</a></li>
            <li class="breadcrumb-item"><a href='{{ base_url() }}/admin/dashboard/subcategory/list'>Εμφάνιση Υποκατηγοριών</a></li>
            <li class="breadcrumb-item active">Εισαγωγή Υποκατηγορίας</li>
        </ol>
    </nav>
    <!-- End Breadcrump -->
    
    <div class="text-center pt-3 pb-2 mb-3 mt-3">
        <div class="card border-info">
            <!-- Start Save or Cancel -->
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills  justify-content-end">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary" onclick="postSubcategoryForm()" tabindex="14">Αποθήκευση</button>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path_for('show_subcategories') }}" tabindex="15">Ακύρωση</a>
                    </li>
                </ul>
            </div>
            <!-- End Save or Cancel -->
            
            <!-- Start Tabs -->
            <div class="container-fluid">
                <!-- First Tab Menu -->
                <ul id="subcat-nav" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#subcat" id="subcat-tab" role="tab" data-toggle="tab" aria-controls="subcat" aria-expanded="true" tabindex="1">Εισαγωγή Υποκατηγορίας</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subcat-logo" id="subcat-logo-tab" role="tab" data-toggle="tab" aria-controls="subcat-logo" aria-expanded="true" tabindex="12">Εικόνα Υποκατηγορίας</a>
                    </li>
                </ul>
                <!-- End First Tab Menu -->
                        
                <form name="subcategory_form" id="form_page" method="post" action="{{ path_for('insert_subcategory_form') }}" autocomplete="off" enctype="multipart/form-data">
                    <!-- Start First Tab Menu Contents -->
                    <div id="subcat-nav-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="subcat" aria-labelledby="cat">                                <!-- Start Second Tab Menu -->
                            <ul role="tablist" class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#gr" class="nav-link" role="tab" data-toggle="tab" aria-controls="gr" aria-expanded="true" tabindex="2">Ελληνικά</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#en" class="nav-link" role="tab" data-toggle="tab" aria-controls="en" aria-expanded="true" tabindex="9">Αγγλικά</a>
                                </li>
                            </ul>
                            <!-- End Second Tab Menu -->
                            
                            <!-- Start Second Tab Menu Contents -->
                            <div id="lang-nav-content" class="tab-content mb-5">
                                <!-- Greek -->
                                <div class="tab-pane w-50 ml-2 fade show active"  id="gr" role="tabpanel" aria-labelledby="gr-tab">
                                    <div class="form-group text-left">
                                        <label for="subcategoryname_gr"><strong>&nbsp;Υποκατηγορία</strong></label>
                                        <input type="text" class="form-control" name="subcategoryname_gr" id="subcategoryname_gr" aria-describedby="emailHelp" placeholder="Υποκατηγορία" value="" required tabindex="3">
                                        <small class="text-muted">Όνομα υποκατηγορίας. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="selectcategory"><strong>&nbsp;Κατηγορία όπου ανήκει</strong></label>
                                        <select name="selectcategory" required tabindex="4">
                                            {% set len = 0 %}
                                                {% if categories is iterable %}
                                                    {% for category in categories %}
                                                <option value="{{ category.id }}">{{ cat_titles[len][0][0] }}</option>
                                                {% set len = len + 1 %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option value="-1">Δεν υπάρχουν κατηγορίες</option>
                                                {% endif %}
                                        </select>
                                        <small class="text-muted">Κατηγορία όπου ανήκει.</small>
                                    </div>
                                    <div class="form-group text-left">                                
                                        <label class="form-check-label pr-4" for="subcategoryactive"><strong>Ενεργή</strong></label>
                                        <input class="form-check-input" type="checkbox" name="subcatactive" id="subcatactive" tabindex="5">
                                        <small class="text-muted">Εμφάνιση υποκατηγορίας.</small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="subcategorydescription_gr"><strong>&nbsp;Περιγραφή Υποκατηγορίας</strong></label>
                                      <input type="text" class="form-control" name="subcategorydescription_gr" id="subcategotydescription_gr" placeholder="Περιγραφή Υποκατηγορίας" value="" required tabindex="6">
                                      <small class="text-muted">Περιγραφή υποκατηγορίας. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="subcategoryslug"><strong>&nbsp;Ψευδώνυμο Υποκατηγορίας</strong></label>
                                      <input type="text" class="form-control" name="subcategoryslug" id="subcategotyslug" placeholder="Αυτόματο Ψευδώνυμο Υποκατηγορίας" disabled tabindex="7">
                                      <small class="text-muted">Αυτόματη δημιουργία ψευδώνυμου.</small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="subcategoryorder"><strong>&nbsp;Ταξινόμηση Υποκατηγορίας</strong></label>
                                        <input type="range" class="form-control " name="subcategoryorder" id="subcategoryorder" min="0" max="99" value="99" onchange="rangevalue.value=value" tabindex="8">
                                        <output class="text-info" id="rangevalue">99</output>
                                        <small class="text-muted">Ταξινόμηση υποκατηγορίας από 0 έως 99</small>
                                    </div>

                                </div>
                                <!-- End Greek -->

                                <!-- English -->
                                <div class="tab-pane w-50 ml-2"  id="en" role="tabpanel" aria-labelledby="en-tab">    
                                    <div class="form-group text-left">
                                        <label for="subcategoryname_en"><strong>&nbsp;Υποκατηγορία</strong></label>
                                        <input type="text" class="form-control" name="subcategoryname_en" id="subcategoryname_en" aria-describedby="emailHelp" placeholder="Subcategory" value="" required tabindex="10">
                                        <small class="text-muted">Όνομα υποκατηγορίας. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="subcategorydescription_en"><strong>&nbsp;Περιγραφή Υποκατηγορίας</strong></label>
                                      <input type="text" class="form-control" name="subcategorydescription_en" id="subcategotydescription_en" placeholder="Subcategory Description" value="" required tabindex="11">
                                      <small class="text-muted">Περιγραφή υποκατηγορίας. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                </div>
                                <!-- End English -->
                            </div>
                            <!-- End Second Tab Menu Contents -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade show" id="subcat-logo" aria-labelledby="subcat-logo">
                                <div class="tab-pane w-50 ml-2 py-5" id="page2" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="form-group custom-file" id="customFile">
                                        <input type="file" class="custom-file-input" name="subcatimg" id="inputSubcategoryImg" aria-describedby="fileHelp" multiple tabindex="13">
                                        <small class="text-muted">Εινόνα υποκατηγορίας. <u>Υποχρεωτικό πεδίο!</u></small>
                                        <label class="custom-file-label" for="inputCategoryImg_gr">
                                            Εικόνα Κατηγορίας
                                        </label>
                                        <div class="form-group mt-2" id="thumb-subcat"></div>
                                    </div>
                                </div>
                            </div>
                        <input type="hidden" name="pageid" value="{{ page_id }}"/>
                    </div>
                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
    <p> {{ error }} </p>
</main> 
{% endif %}
{% endblock %}

