{% extends "admin/admin_home.twig" %}

{% block contents %}      
     {% if auth.check %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4">
    <!-- Start Breadcrump -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='{{ base_url() }}/admin/dashboard'>Αρχική</a></li>
            <li class="breadcrumb-item"><a href='{{ base_url() }}/admin/dashboard/product/list'>Εμφάνιση Προϊόντων</a></li>
            <li class="breadcrumb-item active">Εισαγωγή Προϊόντος</li>
        </ol>
    </nav>
    <!-- End Breadcrumb -->
    <div class="text-center pt-3 pb-2 mb-3 mt-3">
        <div class="card border-info">
            <!-- Start Save or Cancel -->
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills  justify-content-end">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary" onclick="postProductForm()" tabindex="18">Αποθήκευση</button>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path_for('show_products') }}" tabindex="19">Ακύρωση</a>
                    </li>
                </ul>
            </div>
            <!-- End Save or Cancel -->

            <!-- Start Tabs -->
            <div class="container-fluid">
                <!-- First Tab Menu -->
                <ul id="prod-nav" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#prod" id="prod-tab" role="tab" data-toggle="tab" aria-controls="prod" aria-expanded="true" tabindex="1">Εισαγωγή Προϊόντος</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#prod-logo" id="prod-logo-tab" role="tab" data-toggle="tab" aria-controls="prod-logo" aria-expanded="true" tabindex="16">Εικόνα Προϊόντος</a>
                    </li>
                </ul>
                <!-- End First Tab Menu -->

                <form name="product_form" id="form_page" method="post" action="{{ path_for('insert_product_form') }}" autocomplete="off" enctype="multipart/form-data">
                    <!-- Start First Tab Menu Contents -->
                    <div id="prod-nav-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="prod" aria-labelledby="prod">                                   <!-- Start Second Tab Menu -->
                            <ul role="tablist" class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#gr" class="nav-link" role="tab" data-toggle="tab" aria-controls="gr" aria-expanded="true" tabindex="2">Ελληνικά</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#en" class="nav-link" role="tab" data-toggle="tab" aria-controls="en" aria-expanded="true" tabindex="13">Αγγλικά</a>
                                </li>
                            </ul>
                            <!-- End Second Tab Menu -->

                            <!-- Start Second Tab Menu Contents -->
                            <div id="lang-nav-content" class="tab-content mb-5">
                                <!-- Greek -->
                                <div class="tab-pane w-50 ml-2 fade show active"  id="gr" role="tabpanel" aria-labelledby="gr-tab">
                                    <div class="form-group text-left">
                                        <label for="productname_gr"><strong>&nbsp;Προϊόν</strong></label>
                                        <input type="text" class="form-control" name="productname_gr" id="productname_gr" aria-describedby="emailHelp" placeholder="Προϊόν" value="" required tabindex="3">
                                        <small class="text-muted">Όνομα προϊόντος. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                    <div class="form-group text-left">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label pr-4" for="productactive"><strong>Ενεργό</strong></label>
                                            <input class="form-check-input" type="checkbox" name="productactive" id="productactive" value="1" tabindex="4">
                                            <small class="text-muted">Εμφάνιση προϊόντος.</small>
                                        </div>
                                        <div clas="form-check form-check-inline">
                                            <label class="form-check-label pr-4" for="productfeatured"><strong>Προτεινόμενο</strong></label>
                                            <input class="form-check-input" type="checkbox" name="productfeatured" id="productfeatured" value="1" tabindex="5">
                                            <small class="text-muted">Εμφάνιση προϊόντος στην αρχική σελίδα.</small>
                                        </div>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="productdescription_gr"><strong>&nbsp;Περιγραφή Προϊόντος</strong></label>
                                    <textarea class="form-control" id="productdescription_gr" name="productdescription_gr" rows="3" title="Το πεδίο είναι υποχρεωτικό" required tabindex="6"></textarea>
                                    <small class="text-muted">Περιγραφή προϊόντος π.χ. συστατικά. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="productprice"><strong>&nbsp;Τιμή Προϊόντος</strong></label>
                                      <input type="number" lang="en" class="form-control" name="productprice" id="productprice" placeholder="Τιμή Προϊόντος" title="Το πεδίο είναι υποχρεωτικό από 0.00 &euro; έως 1000.00 &euro;." value="" min="0.00" max="1000.00" step="0.01" required tabindex="7">
                                      <small class="text-muted">Κόστος προϊόντος από 0.00 &euro; έως 1000.00 &euro;. Χρήση δεκαδικού με τελεία. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>                            
                                    <div class="form-group text-left">
                                        <label for="selectcategory"><strong>&nbsp;Κατηγορία όπου ανήκει</strong></label>
                                        <select name="selectcategory" required tabindex="8">
                                            {% set cat_len = 0 %}
                                            {% if categories is iterable %}
                                                {% for category in categories %}
                                            <option value="{{ category.id }}">{{ cat_titles[cat_len][0][0] }}</option>
                                                {% set cat_len = cat_len + 1 %}
                                                {% endfor %}
                                            {% else %}
                                                <option value="-1">Δεν υπάρχουν κατηγορίες</option>
                                            {% endif %}
                                        </select>
                                        <small class="text-muted">Κατηγορία προϊόντος. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>                            
                                    <div class="form-group text-left">
                                        <label for="selectsubcategory"><strong>&nbsp;Υποκατηγορία όπου ανήκει</strong></label>
                                        <select name="selectsubcategory" required tabindex="9">
                                            {% set subcat_len = 0 %}
                                            {% if subcategories is iterable %}
                                                {% for subcategory in subcategories %}
                                            <option value="{{ subcategory.id }}">{{ subcat_titles[subcat_len][0][0] }}</option>
                                                {% set subcat_len = subcat_len + 1 %}
                                                {% endfor %}
                                            {% else %}
                                                <option value="-1">Δεν υπάρχουν κατηγορίες</option>
                                            {% endif %}
                                        </select>
                                        <small class="text-muted">Υποκατηγορία προϊόντος. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="producttimetodo"><strong>&nbsp;Χρόνος Προετοιμασίας Προϊόντος</strong></label>
                                      <input type="number" class="form-control" name="producttimetodo" id="producttimetodo" placeholder="Χρόνος Παράδοσης Προϊόντος" title="Το πεδίο είναι υποχρεωτικό από 1 λεπτό έως 60 λεπτά." value="4" min="1" max="60" required tabindex="10">
                                      <small class="text-muted">Χρόνος παράδοσης προϊόντος από 1 λεπτό έως 60 λεπτά. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>                            
                                    <div class="form-group text-left">
                                        <label for="productslug"><strong>&nbsp;Ψευδώνυμο Προϊόντος</strong></label>
                                      <input type="text" class="form-control" name="productslug" id="productslug" placeholder="Αυτόματο Ψευδώνυμο Προϊόντος" disabled tabindex="11">
                                      <small class="text-muted">Αυτόματη δημιουργία ψευδώνυμου.</small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="productorder"><strong>&nbsp;Ταξινόμηση Προϊόντος</strong></label>
                                        <input type="range" class="form-control " name="productorder" id="productorder" min="0" max="10" value="10" onchange="rangevalue.value=value" tabindex="12">
                                        <output class="text-info" id="rangevalue">10</output>
                                        <small class="text-muted">Ταξινόμηση προϊόντος από 0 έως 10.</small>
                                    </div>
                                </div>
                                <!-- End Greek -->

                                <!-- English -->
                                <div class="tab-pane w-50 ml-2"  id="en" role="tabpanel" aria-labelledby="en-tab">    
                                    <div class="form-group text-left">
                                        <label for="productname_en"><strong>&nbsp;Προϊόν</strong></label>
                                        <input type="text" class="form-control" name="productname_en" id="productname_en" aria-describedby="emailHelp" placeholder="Product" value="" required tabindex="14">
                                        <small class="text-muted">Όνομα προϊόντος. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label for="productdescription_en"><strong>&nbsp;Περιγραφή Προϊόντος</strong></label>
                                    <textarea class="form-control" id="productdescription_en" name="productdescription_en" rows="3" title="Το πεδίο είναι υποχρεωτικό" required tabindex="15"></textarea>
                                    <small class="text-muted">Περιγραφή προϊόντος π.χ. συστατικά. <u>Υποχρεωτικό πεδίο!</u></small>
                                    </div>
                                </div>
                                <!-- End English -->
                            </div>
                            <!-- End Second Tab Menu Contents -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade show" id="prod-logo" aria-labelledby="prod-logo">
                            <div class="tab-pane w-50 ml-2 py-5" id="prod" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group custom-file" id="customFile">
                                    <input type="file" class="custom-file-input" name="productimg" id="inputProductImg" aria-describedby="fileHelp" multiple tabindex="17">
                                    <small class="text-muted">Εικόνα προϊόντος. <u>Υποχρεωτικό πεδίο!</u></small>
                                    <label class="custom-file-label" for="inputProductImg">
                                        Εικόνα Προϊόντος
                                    </label>
                                    <div class="form-group mt-2" id="thumb-prod"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
    <p> {{ error }} </p>
</main> 
{% endif %}
{% endblock %}
